<!-- BEGIN custom_fields -->
	<!-- IF custom_fields.PROFILE_FIELD_IDENT eq 'phpbb_steam' -->
		<div class="panel bg1">
			<div class="inner">
				<h3>{L_STEAM}</h3>
				<div class="postbody">
					<div class="steam standalone"><!-- IF STEAM_IS_INT --><a href="http://steamcommunity.com/profiles/{custom_fields.PROFILE_FIELD_VALUE}"><!-- ELSE --><a href="http://steamcommunity.com/id/{custom_fields.PROFILE_FIELD_VALUE}"><!-- ENDIF --><img src="http://badges.steamprofile.com/profile/default/steam/{custom_fields.PROFILE_FIELD_VALUE}.png" alt="" /></a></div>
				</div>
			<span class="clear"></span></div>
		</div>
	<!-- ENDIF -->
<!-- END custom_fields -->